.featured-article.svelte-4bjsid.svelte-4bjsid {
    margin-top: 31px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 21px;
    column-gap: 31px;
    row-gap: 1px;
    background: url(../../../other/circlegradient.svg), var(--pink-gradient);
    background-position: -149px 20px, left top;
    background-repeat: no-repeat;
    background-size: 301px 300px, 100% 480px
}

.text-area.svelte-4bjsid.svelte-4bjsid {
    flex: 6 4 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column
}

.text-area.svelte-4bjsid>.svelte-4bjsid:not(.description) {
    filter: drop-shadow(3px 2px 6px #00000080)
}

.description.svelte-4bjsid.svelte-4bjsid {
    text-shadow: 1px 1px 5px #000000
}

.image-area.svelte-4bjsid.svelte-4bjsid {
    flex: 2 3 300px;
    overflow: hidden;
    border-radius: 20px;
    filter: drop-shadow(60px 54px 104px rgba(0, 0, 0, .55))
}

.article-img.svelte-4bjsid.svelte-4bjsid {
    clip-path: path("M152.806 8.58825C157.366 3.1447 164.102 0 171.203 0L577 0C590.255 0 601 10.7452 601 24V674.085C601 687.339 590.255 698.085 577 698.085H24C10.7452 698.085 0 687.339 0 674.085L0 199.724C0 194.088 1.98325 188.632 5.60223 184.312L152.806 8.58825Z");
    width: 150%;
}

.authorname.svelte-4bjsid.svelte-4bjsid {
    font-size: 1.25em;
    white-space: nowrap
}

.bar-article.svelte-1brwhpx.svelte-1brwhpx {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    column-gap: 30px;
    row-gap: 1px;
    background: #181818D0
}

.text-area.svelte-1brwhpx.svelte-1brwhpx {
    flex: 1 4 55%;
    align-self: stretch;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column
}

.image-area.svelte-1brwhpx.svelte-1brwhpx {
    flex: 2 4 30%;
    overflow: hidden;
    border-radius: 12px;
    min-width: 220px
}

.article-img.svelte-1brwhpx.svelte-1brwhpx {
    border-radius: 12px;
}

.narrow-article.svelte-gj5y2p.svelte-gj5y2p {
    max-width: 400px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 21px;
    column-gap: 31px;
    row-gap: 1px;
    background-position: -149px 20px, left top;
    background-repeat: no-repeat;
    background-size: 301px 300px, 100% 100%;
    overflow: hidden;
    box-shadow: 60px 54px 104px #0000008c
}

.text-area.svelte-gj5y2p.svelte-gj5y2p {
    flex: 6 4 0px;
    margin-top: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column
}

.text-area.svelte-gj5y2p>.svelte-gj5y2p:not(.description) {
    filter: drop-shadow(3px 2px 6px #00000080)
}

.card-bottom.svelte-gj5y2p.svelte-gj5y2p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 10px
}

svg.svelte-gj5y2p.svelte-gj5y2p {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    fill: none;
    stroke: #fff
}

a.svelte-gj5y2p.svelte-gj5y2p {
    margin-top: 10px;
    filter: drop-shadow(0px 0px 100px #FF493C80);
    transition: filter .3s
}

a.svelte-gj5y2p.svelte-gj5y2p:hover {
    filter: drop-shadow(0px 0px 100px #FF493C)
}

a.svelte-gj5y2p:hover svg.svelte-gj5y2p {
    stroke: var(--rs-blue)
}

a.button-like.svelte-gj5y2p.svelte-gj5y2p:active {
    transform: scale(.95)
}

h3.svelte-gj5y2p.svelte-gj5y2p {
    filter: drop-shadow(3px 2px 6px #00000080)
}

.qacc-card.svelte-z9iu7d.svelte-z9iu7d {
    width: 173px;
    height: 121px;
    position: relative;
    box-sizing: border-box
}

a.svelte-z9iu7d.svelte-z9iu7d {
    width: 203px;
    height: 141px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    flex-shrink: 0
}

.inside-card.svelte-z9iu7d.svelte-z9iu7d {
    width: inherit;
    height: inherit;
    box-sizing: inherit;
    background: url(./src/card_bg.png);
    padding: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: safe;
    line-height: 1;
    text-overflow: ellipsis;
    font-family: "SUSE";
    font-weight: 400;
    font-size: 17px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .4)
}

a.svelte-z9iu7d .inside-card.svelte-z9iu7d,
a.svelte-z9iu7d:visited .inside-card.svelte-z9iu7d {
    color: #fff
}

img.svelte-z9iu7d.svelte-z9iu7d {
    position: absolute;
    pointer-events: none;
    top: -20px;
    left: -30px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, .3))
}

svg.svelte-z9iu7d.svelte-z9iu7d {
    position: absolute;
    top: 48px;
    left: 146px;
    stroke: #fff;
    fill: none
}

a.svelte-z9iu7d:hover svg.svelte-z9iu7d,
a.svelte-z9iu7d:hover .inside-card.svelte-z9iu7d {
    stroke: var(--rs-blue);
    color: var(--rs-blue)
}

a.svelte-z9iu7d.svelte-z9iu7d:hover {
    transform: scale(1.05)
}

a.svelte-z9iu7d.svelte-z9iu7d:active {
    transform: scale(.95)
}

.quick-access.svelte-17uxlkn.svelte-17uxlkn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    min-height: 150px;
    overflow-x: auto;
    overflow-y: clip
}

.main-container.svelte-17uxlkn.svelte-17uxlkn {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px
}

.coming-soon.svelte-17uxlkn.svelte-17uxlkn {
    display: none
}

@media screen and (min-width: 580px) {
    .coming-soon.svelte-17uxlkn.svelte-17uxlkn {
        background: #232323;
        align-self: stretch;
        text-align: center;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center
    }
}

.article-container.svelte-17uxlkn.svelte-17uxlkn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px
}

.heading-section.svelte-17uxlkn.svelte-17uxlkn {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center
}

.heading-section.svelte-17uxlkn>.articles-heading.svelte-17uxlkn {
    flex: 0 1 auto
}

.heading-section.svelte-17uxlkn h2.svelte-17uxlkn {
    display: inline;
    position: relative
}

.heading-section.svelte-17uxlkn h2.svelte-17uxlkn:after {
    content: "";
    position: absolute;
    width: 64px;
    height: 59px;
    background-image: url(../../../other/sparks.svg);
    background-repeat: no-repeat;
    background-size: 75%;
    top: -40px;
    right: -65px;
    overflow: show;
    pointer-events: none
}

.heading-section.svelte-17uxlkn>span.svelte-17uxlkn {
    flex: 1 1 0px;
    border-bottom: 1px solid #FFFFFF1A;
    margin: auto auto auto 50px;
    box-sizing: border-box
}
