button,
.dropdown-button{
  background:#2B2B2B;
  border-radius:10px;
  color:#fff;
  padding:10px 20px;
  font-family:SUSE, sans-serif;
  font-size:28px;
  border:none;
  cursor:pointer;
  text-decoration:none;
  text-align:center;
  display:inline-block;
  align-items:flex-start;
  box-sizing:border-box;
  text-shadow:3px 3px 9px rgba(0,0,0,.65);
  outline-style:solid;
  outline-width:2px;
  outline-color:#171717DD
}

.dropdown { 
  position:relative
}

.dropdown-menu {
  position:relative;
  left:11.5%;
  top:calc(100% + .25rem);
  background-color:#0E0E0E;
  border-radius:10px;
  text-shadow:1px 1px 5px rgba(0,0,0,.65);
  box-shadow: 0 0px 5px 0 rgba(0,0,0,.25);
  pointer-events:none;
  opacity:0;
  transform:translateY(-10px);
  transition:opacity 150ms ease-in-out;
  transition:transform 150ms ease-in-out
}

.dropdown > .dropdown-active + .dropdown-menu{
  opacity: 1;
  transform:translateY(0);
  pointer-events:auto;
  transition:opacity 150ms ease-in-out;
  transition:transform 150ms ease-in-out
}

.dropdown-buttonSELECT{
  background:#2B2B2B;
  border-radius:10px;
  color:#fff;
  padding:10px 20px;
  font-family:SUSE, sans-serif;
  font-size:20px;
  border:none;
  cursor:pointer;
  text-decoration:none;
  text-align:center;
  display:inline-block;
  align-items:flex-start;
  box-sizing:border-box;
  text-shadow:3px 3px 9px rgba(0,0,0,.65);
  outline-style:solid;
  outline-width:2px;
  outline-color:#171717DD;
  font-size:36px;
}

.dropdownSELECT { 
  position:relative
}

.dropdown-menuSELECT {
  position:relative;
  left:31.75%;
  top:calc(100% + .25rem);
  background-color:#2B2B2B;
  border-radius:10px;
  text-shadow:1px 1px 5px rgba(0,0,0,.65);
  box-shadow: 0 0px 5px 0 rgba(0,0,0,.25);
  pointer-events:none;
  opacity:0;
  transform:translateY(-10px);
  transition:opacity 150ms ease-in-out;
  transition:transform 150ms ease-in-out;
  z-index:10;
  height:250px
}

.dropdownSELECT > .dropdown-active + .dropdown-menuSELECT{
  opacity: 1;
  transform:translateY(0);
  pointer-events:auto;
  transition:opacity 150ms ease-in-out;
  transition:transform 150ms ease-in-out
}

.ratingteam {
  text-shadow:none
}

input {
  width:80%;
  background-color:#2B2B2B;
  border-radius:10px;
  text-shadow:1px 1px 5px rgba(0,0,0,.65);
  box-shadow: 0 0px 5px 0 rgba(0,0,0,.25);
  border-width:3px;
  font-family:"SUSE",serif;
  font-weight:600;
  text-indent: 2px;
  border-color:#0E0E0E;
}

.hide {
  opacity:0;
}

.dropdown-button-option {
  background:#2B2B2B;
  border-width:0;
  outline-width:0;
  font-size:32px;
  
}

.score-input {
font-size:100px;
text-decoration: underline;
background:transparent;
border-width:0px;
box-shadow: none;
width:65px;
}

.score-input::placeholder {
  color:#FFFFFF
}

input:focus:not(.teamsearch) {
    border: none;
}

input:focus {
  outline:none;
}

#versustext {
  font-size:85px;
  margin-left:32px;
  margin-right:32px;
}

  #finalodds {
    font-size:45px;
    height: 150px; 
  }

#versuscontainer {
  padding-top:18%
}

#team1 {
  order:1;
}
#team2 {
  order:3;
}
#versus {
  order:2;
  width:45%;
  padding-top:50px;
}

  .score-input {
    font-size:100px
  }
#finalname {
  font-size:18px
}
  #finallogo {
    height:150px
  }

#players1 {
  font-size:19px
}
#players2 {
  font-size:19px
}

@media (max-width: 1010px) {
  .score-input {
    font-size:80px
  } 
  .dropdown-button-option {
    font-size:24px
  }
  .dropdown-menuSELECT {
    height:210px
  }
  .dropdown-buttonSELECT {
    font-size:28px;
    padding:0
  }
  #finalodds {
    font-size:30px;
    height: 150px; 
  }
  #finallogo {
    height:150px
  }
  .dropdown-button {
    font-size:20px
  }
  #versustext {
    font-size:55px;
    margin-left:32px;
    margin-right:32px;
  }
  #versus {
    width:45%;
    padding-top:50px;
  }
  #finalname {
  font-size:18px
}
#players1 {
  font-size:19px
}
#players2 {
  font-size:19px
}
#versuscontainer {
  padding-top:18%
}
}

@media (max-width: 768px) {
    #versustext {
    font-size:30px;
    margin-left:8px;
    margin-right:8px;
  }
    .score-input {
    font-size:50px;
    width:40px
  }
  #team1 {
  order:1;
}
#team2 {
  order:2;
}
#versus {
  order:3;
  width:35%;
  padding-top:50px;
}
  .dropdown-button {
    font-size:10px
  }
  #finalodds {
    height:65px;
    font-size:20px
  }
  #finallogo {
    height:65px
  }
  #finalname {
  font-size:10px
}
#players1 {
  font-size:9px
}
#players2 {
  font-size:9px
}
#versuscontainer {
  padding-top:0%
}
}